<%= provide(:title, 'Dashboard') %>
<div class="jumbotron container">
  <div class="row counter-display">
    <% if current_user.trending_topics.empty? %>
      <%= render partial: "dashboard/partials/empty_dashboard" %>
    <% else %>
      <%= render partial: "dashboard/partials/dashboard_data" %>
    <% end %>
  </div>
</div>
